.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: rgb(77, 11, 77);
  color: white;

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(20px);

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.042vw;

      input {
        padding: 1.042vw;
        outline: none;
        border: none;
        background-color: #cad6df;
        border-radius: 10px;
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: underline;
        gap: 20px;
      }

      img {
        height: 2.604vw;
        width: 2.604vw;
        object-fit: cover;
        border-radius: 50%;
      }

      button {
        /* width: 100%; */
        padding: 1vw;
        border: none;
        background-color: #1f8ef1;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  .seperator {
    height: 80%;
    width: 2px;
    background-color: gray;
  }
}
